# TJSP

<br>

Inicialmente instalamos o pacote

In [2]:
# Instala
!pip3 install tjsp --upgrade

Requirement already satisfied: tjsp in c:\users\michel\conda\lib\site-packages (0.0.7)
Requirement already satisfied: requests>=2.25.1 in c:\users\michel\conda\lib\site-packages (from tjsp) (2.32.4)
Requirement already satisfied: tabula-py>=2.2.0 in c:\users\michel\conda\lib\site-packages (from tjsp) (2.10.0)
Requirement already satisfied: pandas>=1.1.0 in c:\users\michel\conda\lib\site-packages (from tjsp) (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\michel\conda\lib\site-packages (from pandas>=1.1.0->tjsp) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\michel\conda\lib\site-packages (from pandas>=1.1.0->tjsp) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\michel\conda\lib\site-packages (from pandas>=1.1.0->tjsp) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\michel\conda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.1.0->tjsp) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\michel\conda\lib\site-packages (from requests>=2.25.1->tjsp) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\michel\conda\lib\site-packages (from requests>=2.25.1->tjsp) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\michel\conda\lib\site-packages (from requests>=2.25.1->tjsp) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\michel\conda\lib\site-packages (from requests>=2.25.1->tjsp) (2025.8.3)
Requirement already satisfied: distro in c:\users\michel\conda\lib\site-packages (from tabula-py>=2.2.0->tjsp) (1.9.0)

<br>

Após isso é possível importar o pacote, que contem uma classe.

In [3]:
from tjsp import TJSP

<br>

Ao instanciar a classe, já será obtida a tabela atualizada e será apresentada, chamando a propriedade _df_.

In [4]:
tj = TJSP()

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

<br>

A propriedade `df` é, na sua essÊncia, um _dataframe_ [Pandas](https://pandas.pydata.org/).

In [5]:
tj.df.head()

        data data_ref   ano  mes     taxa
0 1964-10-01  1964-10  1964   10  10000.0
1 1964-11-01  1964-11  1964   11  10000.0
2 1964-12-01  1964-12  1964   12  10000.0
3 1965-01-01  1965-01  1965    1  11300.0
4 1965-02-01  1965-02  1965    2  11300.0

<br>

Por fim, é possível obter o valor para uma data.

In [6]:
tj.get_value_from_date(date='2026-01-01')

{'data': Timestamp('2026-01-01 00:00:00'),
 'data_ref': '2026-01',
 'ano': 2026,
 'mes': 1,
 'taxa': 101.977695}